/* creating a web app in mobile view */
.App {
  text-align: center;
 margin: auto;
}
.maindiv {
  width: 50%;
  height: 700px;
  position: relative;
  margin: auto;
  background-image: linear-gradient(to bottom right, rgba(0, 225, 255, 0.884) , rgba(0, 255, 234, 0.068));
  
}

.mobile {
  padding: 20px;
  margin: auto;
  width: 50%;
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.048);

}
.Search {
  width: 50%;
  height: 50px;
  margin: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 4px solid rgba(0, 0, 0, 0.048);
}
